body {
    background-color: #000000;
    color: #eee;
  }
  
  .bg-banner-2 {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
  }
  
 
  
  h1{
    text-align: center;
  }

  